<header>
  <h1 class="logo sharp">
    wspak.pl<span> Adrian Krawczyk</span>
  </h1>
  <nav>
    <ul class="menu">
      <li><a href="#" (click)="loadSidebar('portfolio');" class="active"><span>foto</span>PORTFOLIO</a></li>
      <li><a href="#" (click)="loadSidebar('blog');"><span>foto</span>BLOG</a></li>
      <li><a href="#"><span>foto</span>MAPA</a></li>
      <li><a href="#"><span>WEB</span>DEV</a></li>
      <li class="modal kontakt" (click)="UiModel.modalActive = !UiModel.modalActive"><a href="#">Kontakt</a></li>
    </ul>
  </nav>
</header>