
html.sidebarExpended {
  div.sidebar {
    margin-left: 0;
  }
  div.container {
    margin-left: 300px;
    width: calc(100vw - 324px);
  }
  i.canvasSwitch.left {
    border-left: 5px solid transparent;
    border-right: 5px solid #909090;
    left: -4px;
  }
}

html.filmStripExpended {
  div.sidebar {
    height: calc(100vh - 186px - 8px);
  }
  div.container {
    height: calc(100vh - 186px - 8px);
    img.mainImage {
      margin-top: 5px;
      height: calc(100vh - 62px - 16px - 10px - 8px - 108px);
    }
  }
  div.filmStripFrame {
    bottom: 6px;
  }
  i.canvasSwitch.bottom {
    border-top: 5px solid #909090;
    border-bottom: 5px solid transparent;
    bottom: -4px;
  }
}

html.darkOverlay {
  header {
    opacity: .1;
  }
  div.mainFrame {
    border-color: transparent;
    div.sidebar {
      opacity: .1;
    }
    div.container {
      background-color: black;
      img.mainImage {
        height: calc(100vh - 66px);
        margin-top: -43px;
      }
    }
  }
  div.filmStripFrame {
    border-color: transparent;
    ul {
      li {
        opacity: .1;
        &:hover {
          opacity: .8;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
  &.filmStripExpended {
    div.mainFrame {
      div.container {
        img.mainImage {
          height: calc(100vh - 16px - 108px);
          margin-top: -68px;
        }
      }
    }
  }
}

html.sidebarExpendedBlog {
  div.mainFrame div.sidebar {
    ul.blog {
      display: block;
    }
    ul.portfolio {
      display: none;
    }
  }
}