body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  overflow: hidden;
  width: 100vw; /*width */
  height: calc(100vh - 16px);
  padding: 8px;
  background-color: #000;
  position: relative;
  color: #fff;
}

header {
  float: left;
  height: 62px;
  width: 100vw;
  background-color: #000;
  position: relative;
  h1.logo {
    display: inline-block;
    position: relative;
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
    letter-spacing: 4px;
    padding: 5px;
    filter: blur(6px);
    transition: 3s filter ease-in-out;
    &.sharp {
      filter: blur(0);
    }
    span {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 8px;
      position: absolute;
      bottom: 1px;
      right: 44px;
      letter-spacing: 2px;
    }
  }
  nav {
    ul {
      position: absolute;
      right: 8px;
      bottom: 8px;
      li {
        display: inline-block;
        border-left: 1px solid rgba(255, 255, 255, .6);
        padding: 2px 20px;
        &:first-child {
          border-left: none;
        }
        a {
          text-decoration: none;
          color: rgba(255, 255, 255, .6);
          font-size: 20px;
          span {
            font-size: 10px;
            text-transform: uppercase;
          }
          &:hover {
            color: rgba(255, 255, 255, .8);
          }
          &.active {
            color: rgba(255, 255, 255, 1);
            &:hover{
              color: rgba(255, 255, 255, 1);
            }
          }
        }

      }
    }
  }
}

div.mainFrame {
  border: 1px solid #454545;
  float: left;
  width: calc(100vw - 24px);
  padding: 4px;
  overflow: hidden;
  div.sidebar {
    box-sizing: border-box;
    width: 300px;
    height: calc(100vh - 86px);
    background-color: #313131;
    float: left;
    margin-left: -316px;
    padding: 8px 0;
    border-right: 2px solid black;
    overflow-y: scroll;
    transition: margin-left .7s ease-in-out, height .7s ease-in-out;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
    ul.portfolio {
      margin-top: 10px;
      li {
        margin: 0 16px;
        padding: 0 10px;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        &:first-child {
          border-top: 1px solid rgba(255, 255, 255, .3);
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.02);
          a {
            color: rgba(255, 255, 255, 0.8);
          }
        }
        a {
          color: rgba(255, 255, 255, 0.6);
          text-decoration: none;
          font-size: 16px;
          display: block;
          padding: 10px 0;
        }
      }
    }
    ul.blog {
      li {
        height: 64px;
        border-radius: 2px;
        margin: 0 4px 0 20px;
        padding-left: 100px;
        padding-top: 2px;
        padding-bottom: 2px;
        position: relative;
        &:hover {
          background-color: rgba(255, 255, 255, .05);
          &:after {
            background-color: rgba(255, 255, 255, .9);
          }
          img {
            filter: grayscale(0);
          }
        }
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: 59px;
          background-color: rgba(255, 255, 255, .15);
          left: -10px;
          top: 19px;
        }
        &:after {
          content: '';
          position: absolute;
          width: 9px;
          height: 9px;
          top: 10px;
          left: -14px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, .15);
        }
        &:last-child {
          &:before {
            display: none;
          }
        }
        img {
          height: 60px;
          position: absolute;
          border-radius: 2px;
          top: 4px;
          left: 4px;
          filter: grayscale(85%);
          transition: .1s filter linear;
        }
        h3 {
          font-weight: 800;
          font-size: 15px;
          padding-top: 4px;
        }
        span.date {
          font-size: 10px;
        }
        a {
          position: absolute;
          top: 4px;
          left: 0;
          width: 100%;
          height: 68px;
        }
      }
    }
  }
  div.container {
    float: left;
    text-align: center;
    width: calc(100vw - 24px);
    height: calc(100vh - 86px);
    background-color: #909090;
    margin-left: 0;
    position: absolute;
    top: 75px;
    transition: margin-left .7s ease-in-out,
    width .7s ease-in-out,
    height .7s ease-in-out;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
    img.mainImage {
      margin-top: 10px;
      height: calc(100vh - 62px - 16px - 20px - 8px);
      transition: height .7s ease-in-out, margin-top .7s ease-in-out;
    }
    span.hint {
      text-transform: uppercase;
      font-size: 12px;
      position: absolute;
      bottom: 4px;
      right: 4px;
      opacity: .8;
      display: inline-block;
      padding: 3px 5px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, .3);
      cursor: pointer;
      &:hover {
        background-color: black;
      }
    }
  }
}

div.filmStripFrame {
  height: 100px;
  position: absolute;
  bottom: -102px;
  left: 8px;
  width: calc(100vw - 16px);
  margin: 0;
  background-color: #000;
  border: 1px solid #454545;
  transition: bottom .7s ease-in-out;
  ul.stripFotos {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 2px;
    li {
      display: inline-block;
      position: relative;
      background-color: #313131;
      border-radius: 2px;
      padding: 4px 2px;
      margin: 2px -1px 2px 0;
      margin-bottom: -8px;
      overflow: hidden;
      &:hover {
        background-color: #909090;
        img {
          filter: grayscale(0);
        }
      }
      img {
        height: 92px;
        margin-top: -2px;
        border-radius: 2px;
        filter: grayscale(100%);
        transition: .6s filter linear;
      }
      a {
        position: absolute;
        height: 98px;
        width: 100%;
        top: 0;
        left: 0;
      }
      h3, span {
        display: none;
      }
    }
  }
}

i.canvasSwitch {
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: calc(50vh - 4px);
  left: 0;
  cursor: pointer;
  width: 0px;
  height: 0px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  &.bottom {
    bottom: 0;
    left: calc(50vw - 4px);
    border-bottom: 5px solid #909090;
  }
  &.left {
    border-left: 5px solid #909090;
  }
}

div.modal {
  position: absolute;
  font-size: 12px;
  line-height: 25px;
  opacity: .95;
  left: calc(50vw - 150px);
  width: 280px;
  text-align: right;
  top: 200vh;
  height: 140px;
  padding: 70px 20px 0 20px;
  border: 0px solid black;
  border-radius: 2px;
  background-color: #fff;
  color: black;
  transition: .4s top ease-in-out;
  h2 {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    &:hover {
      color: rgba(0, 0, 0, .6);
    }
  }
  &.active {
    top: calc(50vh - 100px);
  }
  img.camera {
    position: absolute;
    left: -65px;
    top: -6px;
    width: 175px;
  }
}

.mainFrame.sidebarExpended {
  div.sidebar {
    margin-left: 0;
  }
  div.container {
    margin-left: 300px;
    width: calc(100vw - 324px);
  }
  i.canvasSwitch.left {
    border-left: 5px solid transparent;
    border-right: 5px solid #909090;
    left: -4px;
  }
}

.mainFrame.filmStripExpended {
  div.sidebar {
    height: calc(100vh - 186px - 8px);
  }
  div.container {
    height: calc(100vh - 186px - 8px);
    img.mainImage {
      margin-top: 5px;
      height: calc(100vh - 62px - 16px - 10px - 8px - 108px);
    }
  }
  div.filmStripFrame {
    bottom: 6px;
  }
  i.canvasSwitch.bottom {
    border-top: 5px solid #909090;
    border-bottom: 5px solid transparent;
    bottom: -4px;
  }
}

html.darkOverlay {
  header {
    opacity: .1;
  }
  div.mainFrame {
    border-color: transparent;
    div.sidebar {
      opacity: .1;
    }
    div.container {
      background-color: black;
      img.mainImage {
        height: calc(100vh - 66px);
        margin-top: -43px;
      }
    }
  }
  div.filmStripFrame {
    border-color: transparent;
    ul {
      li {
        opacity: .1;
        &:hover {
          opacity: .8;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
  &.filmStripExpended {
    div.mainFrame {
      div.container {
        img.mainImage {
          height: calc(100vh - 16px - 108px);
          margin-top: -68px;
        }
      }
    }
  }
}

app-sidebar.blog {
  ul.blog {
    display: block;
  }
  ul.portfolio {
    display: none;
  }
}
app-sidebar.portfolio {
  ul.blog {
    display: none;
  }
  ul.portfolio {
    display: block;
  }
}
